@charset "UTF-8";
body {
    display: flex;
    justify-content: center;
}

#xmas_tree {
    background: url('https://raw.githubusercontent.com/RobocodeSchool/web/master/assets/xmas/xmas_tree.png');
    background-repeat: no-repeat;
    height: 710px;
    width: 550px;
}

#xmas_tree {
    display: grid;
    grid-template-columns: 142px 142px 110px 170px;
    grid-template-rows: repeat(8,91.2px);
    place-items: center center;
}